@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 0px black;
  }

  50% {
    box-shadow: 0px 0px 20px 0px black;
  }

  100% {
    box-shadow: 0px 0px 10px 0px black;
  }
}

div.user-playlist-content {
  min-height: 100%;
}

div.user-playlist-content {
  min-width: 100%;
}

div.user-playlist-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
}

span.user-playlist-title {
  font-size: 60px;
  color: #dfdfdf;
}

div.user-playlist-header button {
  background-color: #1DB954;
  font-size: 24px;
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  padding: 0 20px;
  transition: all 0.5s;
  animation: pulse 2s infinite;
}

div.user-playlist-header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

div.user-playlist-header button span::after {
  content: "\002B";
  font-weight: bolder;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

div.user-playlist-header button:hover {
  background: rgba(29, 185, 84, 0.5);
  transition: ease 50ms;
}

div.user-playlist-header button:hover span {
  padding-right: 25px;
}

div.user-playlist-header button:hover span::after {
  opacity: 1;
  right: 0;
}


div.user-playlist-container {
  background-color: rgba(36, 36, 36, 0.822);
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  border-radius: 8px;
  height: 700px;
  margin: 60px auto;
  padding: 40px;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.playlist-container {
  height: 170px;
  background: rgba(29, 185, 84, 0.5);
  box-shadow: 0px 0px 10px 0px black;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 40px;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
}

img.playlist-img {
  height: 140px;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 8px;
  padding: 4px;
}

span.playlist-name {
  font-size: 24px;
}

span.playlist-musics-size {
  margin-top: 8px;
  font-size: 18px;
  color: #a0a0a0
}

span.playlist-privacidade {
  margin-top: 8px;
  font-size: 18px;
  color: #a0a0a0;
}

div.info-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.playlist-tools span {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 800;
}

div.playlist-tools span.editar:hover {
  color: rgba(250, 250, 250, 0.8);
  text-shadow: 0 0 2px black;
}

div.playlist-tools span.delete:hover {
  color: rgba(255, 0, 0, 0.5);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.336);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(29, 185, 84, 0.5) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1.34;
}
