a {
    text-decoration: none;
    color: white;
    transition: ease 0.1s;
}

.header-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-container .spotify-icon {
    width: 104px;
}

.header-container .spotify-icon:hover path {
    fill: rgb(29,185,84);
    transition: ease 0.1s;
}

.navigation-container {
    display: flex;
    font-weight: 500;
    color: white;
    font-size: 16px;
    transition: ease 0.1s;

}

.navigation-container div {
    padding: 0 20px;
}

.navigation-container a:hover {
    color: rgb(29,185,84);
    cursor: pointer;
    transition: ease 0.1s;
}
