a {
  text-decoration: none;
  color: white;
  transition: ease 0.1s;
}

.header-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-container .spotify-icon {
  width: 104px;
}

.header-container .spotify-icon:hover path {
  fill: rgb(29, 185, 84);
  transition: ease 0.1s;
}

.navigation-container {
  display: flex;
  font-weight: 500;
  color: white;
  font-size: 16px;
  transition: ease 0.1s;
  align-items: center;
}

.navigation-container div {
  padding: 0 20px;
}

.navigation-container a:hover {
  color: rgb(29, 185, 84);
  cursor: pointer;
  transition: ease 0.1s;
}

.navigation-container .input-search {
  border-radius: 50px;
  padding: 4px 8px;
  font-size: 18px;
}

.search-container div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container div img {
  position: absolute;
  cursor: pointer;
  padding: 8px;
}

.logged {
  font-size: 24px;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.menu-login:hover .dropdown {
  display: block;
}
