<div class="playlist-selected-content">

  <div class="playlist-selected-container">

    <div class="playlist-info">

      <div class="back-button" routerLink="/playlist" (click)="backToPlaylists()">

        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="306px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;"
          xml:space="preserve">
          <g>
            <g id="chevron-left">
              <polygon points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153 		" />
            </g>
          </g>
        </svg>

        <span>Voltar</span>
      </div>
      <img *ngIf="playlist" class="playlist-image" src={{playlist.image}}>
      <span *ngIf="playlist">{{playlist.name}}</span>
    </div>

    <div *ngIf="playlist" class="music-list-container">

      <div class="music-container" *ngFor="let music of musics; let i = index">

        <div class="play-info-container">

          <div (click)="[playMusic(music.path, i)]">
            <img class="play-pause-button" src="../../../assets/img/play.svg" alt="">
          </div>

          <div class="music-info">
            <span class="music-index">{{i + 1}}. </span>
            <span>{{music.name}}</span>

            <div class="author-album">

              <span>{{music.author}}</span>
              <span>|</span>
              <span>{{music.album}}</span>
            </div>
          </div>
        </div>

        <div class="music-time">
          <span>
            {{ parseTime(music.duration) }} Seg
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
