<div id="faq-container" class="faq-container">
  <h1 class="title">FAQ</h1>

  <div class="question-container" (click)="openCloseAnswer(1)">
    <div class="question">
      <span>Como eu baixo o spotify ?</span>
      <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
    </div>
    <div class="answer-container none-container">
      O Spotify pode ser baixado para deversas plataformas; PC, Android e IOS. Você pode baixar através desses links:
      <div>
        <a href="https://itunes.apple.com/app/spotify-music/id324684580" target="_blank">
          <img src="../../../assets/img/ios.png" alt="ios-link">
        </a>

        <a href="https://play.google.com/store/apps/details?id=com.spotify.music" target="_blank">
          <img src="../../../assets/img/android.png" alt="android-link">
        </a>

        <a href="https://www.microsoft.com/store/p/spotify-music/9ncbcszsjrsb?cid=spotifyweb-windows10-store-direct"
          target="_blank">
          <img src="../../../assets/img/pc.png" alt="pc-link">
        </a>
      </div>
    </div>
  </div>
  <div class="question-container" (click)="openCloseAnswer(2)">
    <div class="question">
      <span>O Spotify é gratuito ?</span>
      <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
    </div>
    <div class="answer-container none-container">O uso do Spotify é gratuito, porém sua versão paga tem diversas
      vantagens, como pode passar músicas ilimitadas, baixar com maior qualidade; já na versão gratuita ocasionalmente
      irá ter algumas propagandas.</div>
  </div>
  <div class="question-container" (click)="openCloseAnswer(3)">
    <div class="question">
      <span>Como funciona o plano família ?</span>
      <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
    </div>
    <div class="answer-container none-container">O Premium Família é um plano de assinatura com desconto para até seis
      familiares que moram na mesma casa. Experimente 1 mês grátis, depois apenas R$ 26,90/mês.</div>
  </div>
  <div class="question-container" (click)="openCloseAnswer(4)">
    <div class="question">
      <span>Quais dispositivos eu posso usar para ouvir o Spotify ?</span>
      <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
    </div>
    <div class="answer-container none-container">Você pode baixar o nosso aplicativo em diversos computadores, celulares
      e tablets. Verifique os nossos requisitos de sistema para ver se o seu é compatível. Também é possível ouvir o
      Spotify em consoles de videogames, alto-falantes, TVs, smartwatches, no carro e em outros dispositivos.</div>
  </div>
  <div class="question-container" (click)="openCloseAnswer(5)">
    <div class="question">
      <span>Quais são os requisitos para usar o Spotify ?</span>
      <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
    </div>
    <div class="answer-container none-container">
      <table>
        <tr>
          <th></th>
          <th>Sistema operacional</th>
        </tr>
        <tr>
          <td>iOS</td>
          <td>iOS 11 ou superior</td>
        </tr>
        <tr>
          <td>Android</td>
          <td>Android OS 4.1 ou superior</td>
        </tr>
        <tr>
          <td>Mac</td>
          <td>OS X 10.10 ou superior</td>
        </tr>
        <tr>
          <td>Windows</td>
          <td>Desktop ou laptop com Windows 7 ou superior</td>
        </tr>
      </table>
    </div>
  </div>
</div>
