<div id="faq-container" class="faq-container">
    <h1 class="title">FAQ</h1>

    <div class="question-container" (click)="openCloseAnswer(1)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>
    <div class="question-container" (click)="openCloseAnswer(2)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>
    <div class="question-container" (click)="openCloseAnswer(3)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>
    <div class="question-container" (click)="openCloseAnswer(4)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>
    <div class="question-container" (click)="openCloseAnswer(5)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>
    <div class="question-container" (click)="openCloseAnswer(6)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>
    <div class="question-container" (click)="openCloseAnswer(7)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>
    <div class="question-container" (click)="openCloseAnswer(8)">
        <div class="question">
            <span>Como eu baixo o spotify ?</span>
            <img src="../../../assets/img/arrow_up.svg" alt="arrow-down">
        </div>
        <div class="none-container">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
    </div>

</div>